form {
    text-align: right;
    margin: 10;
    padding: 10;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h1,
  h2 {
    text-align: center;
  }
  .col-2 {
    text-align: center;
    padding-top: 20px;
    border-style: solid;
    border-radius: 10%;
    padding-bottom: 20px;
    border-color: lightgray;
  }
  